apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cuopt

resources:
  - ../../base

# Production-specific patches
patches:
  - path: patch-replicas.yaml
  - path: patch-resources.yaml

commonLabels:
  environment: production
