apiVersion: apps/v1
kind: Deployment
metadata:
  name: cuopt-nim
spec:
  template:
    spec:
      containers:
        - name: cuopt-nim
          resources:
            requests:
              cpu: "4"
              memory: "16Gi"
              nvidia.com/gpu: "1"
            limits:
              cpu: "8"
              memory: "32Gi"
              nvidia.com/gpu: "1"
