apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cuopt

resources:
  - namespace.yaml
  - cuopt-deployment.yaml
  - cuopt-service.yaml
  # Uncomment after creating secrets
  # - ngc-secret.yaml
  # - ocir-secret.yaml

commonLabels:
  app.kubernetes.io/part-of: ai-coe
  app.kubernetes.io/managed-by: kustomize
